@{
    ViewBag.Title = "Login";
}

<div>
	<div id="loginFormWrapper">
		@Html.Partial("LoginPartial")
	</div>
</div>

@section Scripts
{
	<script>

		function loginFormSubmitHandler(xmlHttpRequest)
		{
			if (xmlHttpRequest.responseJSON && xmlHttpRequest.responseJSON.redirectUrl)
			{
				window.location.href = xmlHttpRequest.responseJSON.redirectUrl;
			}
		}

	</script>
}