body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

/* Custom Styles *************************************************************************************************************************** */
.navbar-fixed-bottom {
    background: #444;
    height: 40px;
}

#FooterAppName {
    margin-left: 20px;
    margin-top: 12px;
    color: #fff;
}

.dropdown {
    /*width: 110%;*/
    min-width: 180px;
}

    .dropdown ul.dropdown-menu {
        width: -webkit-fill-available;
    }

.glyphi-1 {
    margin-top: 1px;
}

.glyphi-2 {
    margin-top: 2px;
}

.glyphi-3 {
    margin-top: 3px;
}

.glyphi-4 {
    margin-top: 4px;
}

#status-checkbox {
    margin-left: inherit;
    position: inherit;
    margin: inherit;
}

/* Checkbox *************************************************************************************************************************** */


.switch {
    --uiSwitchSize: var(--switchSize, 64px);
    --uiSwitchBgColor: var(--switchBgColor, #f1f1f1);
    --uiSwitchBgColorActive: var(--switchBgColorActive, #4ed164);
    --uiSwitchBorderColorActive: var(--switchBorderColorActive, #fff);
    --uiSwitchBorderColorFocus: var(--switchBgColorFocus, #43b556);
    --uiSwitchButtonBgColor: var(--switchButtonBgColor, #fff);
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/*.switch__label {
    display: block;
    width: 100%;
    height: 100%;
}*/

.switch__toggle {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

    /*.switch__toggle:focus ~ .switch__label {
        box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorFocus);
    }

    .switch__toggle:checked:focus ~ .switch__label {
        box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorActive);
    }*/

.switch__label:before, .switch__label:after {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.switch__label:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--uiSwitchBgColor);
}

.switch__label:after {
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
}

/* type 1 *************************************************************************************************************************** */

.switch_type1 {
    --uiSwitchBorderRadius: var(--switchBorderRadius, 60px);
    width: var(--uiSwitchSize);
    height: calc((var(--uiSwitchSize) / 2));
    border-radius: var(--uiSwitchBorderRadius);
    background-color: var(--uiSwitchBgColorActive);
}

    .switch_type1 .switch__label {
        border-radius: var(--uiSwitchBorderRadius);
    }

        .switch_type1 .switch__label:before {
            border-radius: var(--uiSwitchBorderRadius);
            transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
            transform: scale(1);
            opacity: 1;
        }

    .switch_type1 .switch__toggle:checked ~ .switch__label:before {
        transform: scale(0);
        opacity: .7;
    }

    .switch_type1 .switch__label:after {
        width: calc(var(--uiSwitchSize) / 2);
        height: calc(var(--uiSwitchSize) / 2);
        transform: translate3d(0, -50%, 0);
        background-color: var(--uiSwitchButtonBgColor);
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }

    .switch_type1 .switch__toggle:checked ~ .switch__label:after {
        transform: translate3d(100%, -50%, 0);
    }

/* demo styles for switch *************************************************************************************************************************** */

.switch {
    --switchSize: 64px;
    margin-top: 0px;
}

/* table fix *************************************************************************************************************************** */
.table, tbody, tr, td {
    vertical-align: middle !important;
}

th {
    text-align: center;
}

/* text summary *************************************************************************************************************************** */
.summary {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table {
    table-layout: fixed;
}

/* Contact form ****************************************************************************************************************************/
.red {
    color: red;
}

/* Dropdown search */
.bootstrap-select .dropdown-menu > li > a small.muted {
    display: none;
}

.bootstrap-select .dropdown-toggle .filter-option {
    position: relative;
    padding-left: 38px;
}

    .bootstrap-select .dropdown-toggle .filter-option:before {
        content: "Size:";
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 0;
    }


/* Clearable text inputs */
.clearable {
    position: relative;
    display: inline-block;
}

    .clearable input[type=text] {
        padding-right: 24px;
        width: 100%;
        box-sizing: border-box;
    }

.clearable__clear {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.8em;
    user-select: none;
    cursor: pointer;
}

.clearable input::-ms-clear { /* Remove IE default X */
    display: none;
}